{% extends "base_site/base_site.html" %}
{% block title %}{{ block.super }} | videos{% endblock %}
{% block banner %}{% endblock %}
{% block staticbanner %}{% endblock %}


{% block content %}
    <div class="outer-wrapper">





{#            <div class="main-content">#}
{#                <div id="page-wrapper">#}
{#                    <div class="inner-content">#}
{#                        <div class="music-left">#}
{#                            <div class="banner-section">#}
{#                                <div class="banner">#}
{#                                    <div class="callbacks_container">#}
{#                                        <ul class="rslides callbacks callbacks1" id="slider4">#}
{#                                            <li>#}
{#                                                <div class="banner-img">#}
{#                                                    <img src="images/11.jpg" class="img-responsive" alt="">#}
{#                                                </div>#}
{#                                                <div class="banner-info">#}
{#                                                    <a class="trend" href="single.html">TRENDING</a>#}
{#                                                    <h3>Let Your Home</h3>#}
{#                                                    <p>Album by <span>Rock star</span></p>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <div class="banner-img">#}
{#                                                    <img src="images/22.jpg" class="img-responsive" alt="">#}
{#                                                </div>#}
{#                                                <div class="banner-info">#}
{#                                                    <a class="trend" href="single.html">TRENDING</a>#}
{#                                                    <h3>Charis Brown feet</h3>#}
{#                                                    <p>Album by <span>Rock star</span></p>#}
{#                                                </div>#}
{##}
{##}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <div class="banner-img">#}
{#                                                    <img src="images/33.jpg" class="img-responsive" alt="">#}
{#                                                </div>#}
{#                                                <div class="banner-info">#}
{#                                                    <a class="trend" href="single.html">TRENDING</a>#}
{#                                                    <h3>Let Your Home</h3>#}
{#                                                    <p>Album by <span>Rock star</span></p>#}
{#                                                </div>#}
{##}
{#                                                <!-- /w3layouts-agileits -->#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                    <!--banner-->#}
{#                                    <script src="js/responsiveslides.min.js"></script>#}
{#                                    <script>#}
{#                                        // You can also use "$(window).load(function() {"#}
{#                                        $(function () {#}
{#                                            // Slideshow 4#}
{#                                            $("#slider4").responsiveSlides({#}
{#                                                auto: true,#}
{#                                                pager: true,#}
{#                                                nav: true,#}
{#                                                speed: 500,#}
{#                                                namespace: "callbacks",#}
{#                                                before: function () {#}
{#                                                    $('.events').append("<li>before event fired.</li>");#}
{#                                                },#}
{#                                                after: function () {#}
{#                                                    $('.events').append("<li>after event fired.</li>");#}
{#                                                }#}
{#                                            });#}
{##}
{#                                        });#}
{#                                    </script>#}
{#                                    <div class="clearfix"></div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!--//End-banner-->#}
{#                            <!--albums-->#}
{##}
{#                            <!--//End-albums-->#}
{#                            <!--//discover-view-->#}
{##}
{#                            <div class="albums second">#}
{#                                <div class="tittle-head">#}
{#                                    <h3 class="tittle">Discover <span class="new">View</span></h3>#}
{#                                    <a href="index.html"><h4 class="tittle two">See all</h4></a>#}
{#                                    <div class="clearfix"></div>#}
{#                                </div>#}
{#                                <div class="col-md-3 content-grid">#}
{#                                    <a href="single.html"><img src="images/v11.jpg" title="allbum-name"></a>#}
{#                                    <div class="inner-info"><a href="single.html"><h5>Pop</h5></a></div>#}
{#                                </div>#}
{#                                <div class="col-md-3 content-grid">#}
{#                                    <a href="single.html"><img src="images/v22.jpg" title="allbum-name"></a>#}
{#                                    <div class="inner-info"><a href="single.html"><h5>Pop</h5></a></div>#}
{#                                </div>#}
{#                                <div class="col-md-3 content-grid">#}
{#                                    <a href="single.html"><img src="images/v33.jpg" title="allbum-name"></a>#}
{#                                    <div class="inner-info"><a href="single.html"><h5>Pop</h5></a></div>#}
{#                                </div>#}
{#                                <div class="col-md-3 content-grid last-grid">#}
{#                                    <a href="single.html"><img src="images/v44.jpg" title="allbum-name"></a>#}
{#                                    <div class="inner-info"><a href="single.html"><h5>Pop</h5></a></div>#}
{#                                </div>#}
{#                                <div class="col-md-3 content-grid">#}
{#                                    <a href="single.html"><img src="images/v55.jpg" title="allbum-name"></a>#}
{#                                    <div class="inner-info"><a href="single.html"><h5>Pop</h5></a></div>#}
{#                                </div>#}
{#                                <div class="col-md-3 content-grid">#}
{#                                    <a href="single.html"><img src="images/v66.jpg" title="allbum-name"></a>#}
{#                                    <div class="inner-info"><a href="single.html"><h5>Pop</h5></a></div>#}
{#                                </div>#}
{#                                <div class="col-md-3 content-grid">#}
{#                                    <a href="single.html"><img src="images/v11.jpg" title="allbum-name"></a>#}
{#                                    <div class="inner-info"><a href="single.html"><h5>Pop</h5></a></div>#}
{#                                </div>#}
{#                                <div class="col-md-3 content-grid last-grid">#}
{#                                    <a href="single.html"><img src="images/v22.jpg" title="allbum-name"></a>#}
{#                                    <div class="inner-info"><a href="single.html"><h5>Pop</h5></a></div>#}
{#                                </div>#}
{#                                <div class="clearfix"></div>#}
{#                            </div>#}
{#                            <!--//discover-view-->#}
{#                        </div>#}
{#                        <!--//music-left-->#}
{#                        <!--/music-right-->#}
{##}
{##}
{#                        <!--//music-right-->#}
{#                        <div class="clearfix"></div>#}
{#                        <!-- /w3l-agile-its -->#}
{#                    </div>#}
{#                    <!--body wrapper start-->#}
{##}
{#                    <div class="review-slider">#}
{#                        <div class="tittle-head">#}
{#                            <h3 class="tittle">Featured Albums <span class="new"> New</span></h3>#}
{#                            <div class="clearfix"></div>#}
{#                        </div>#}
{#                        <ul id="flexiselDemo1">#}
{#                            <li>#}
{#                                <a href="single.html"><img src="images/v1.jpg" alt=""/></a>#}
{#                                <div class="slide-title"><h4>Adele21</h4></div>#}
{#                                <div class="date-city">#}
{#                                    <h5>Jan-02-16</h5>#}
{#                                    <div class="buy-tickets">#}
{#                                        <a href="single.html">READ MORE</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#"><img src="#" alt=""/></a>#}
{#                                <div class="slide-title"><h4>Adele21</h4></div>#}
{#                                <div class="date-city">#}
{#                                    <h5>Jan-02-16</h5>#}
{#                                    <div class="buy-tickets">#}
{#                                        <a href="#">READ MORE</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="single.html"><img src="images/v3.jpg" alt=""/></a>#}
{#                                <div class="slide-title"><h4>Shomlock</h4></div>#}
{#                                <div class="date-city">#}
{#                                    <h5>Jan-02-16</h5>#}
{#                                    <div class="buy-tickets">#}
{#                                        <a href="single.html">READ MORE</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="single.html"><img src="images/v4.jpg" alt=""/></a>#}
{#                                <div class="slide-title"><h4>Stuck on a feeling</h4></div>#}
{#                                <div class="date-city">#}
{#                                    <h5>Jan-02-16</h5>#}
{#                                    <div class="buy-tickets">#}
{#                                        <a href="single.html">READ MORE</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="single.html"><img src="images/v5.jpg" alt=""/></a>#}
{#                                <div class="slide-title"><h4>Ricky Martine </h4></div>#}
{#                                <div class="date-city">#}
{#                                    <h5>Jan-02-16</h5>#}
{#                                    <div class="buy-tickets">#}
{#                                        <a href="single.html">READ MORE</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="single.html"><img src="images/v6.jpg" alt=""/></a>#}
{#                                <div class="slide-title"><h4>Ellie Goluding </h4></div>#}
{#                                <div class="date-city">#}
{#                                    <h5>Jan-02-16</h5>#}
{#                                    <div class="buy-tickets">#}
{#                                        <a href="single.html">READ MORE</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="single.html"><img src="images/v6.jpeg" alt=""/></a>#}
{#                                <div class="slide-title"><h4>Fifty Shades </h4></div>#}
{#                                <div class="date-city">#}
{#                                    <h5>Jan-02-16</h5>#}
{#                                    <div class="buy-tickets">#}
{#                                        <a href="single.html">READ MORE</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
{#                        <script type="text/javascript">#}
{#                            $(window).load(function () {#}
{##}
{#                                $("#flexiselDemo1").flexisel({#}
{#                                    visibleItems: 5,#}
{#                                    animationSpeed: 1000,#}
{#                                    autoPlay: true,#}
{#                                    autoPlaySpeed: 3000,#}
{#                                    pauseOnHover: false,#}
{#                                    enableResponsiveBreakpoints: true,#}
{#                                    responsiveBreakpoints: {#}
{#                                        portrait: {#}
{#                                            changePoint: 480,#}
{#                                            visibleItems: 2#}
{#                                        },#}
{#                                        landscape: {#}
{#                                            changePoint: 640,#}
{#                                            visibleItems: 3#}
{#                                        },#}
{#                                        tablet: {#}
{#                                            changePoint: 800,#}
{#                                            visibleItems: 4#}
{#                                        }#}
{#                                    }#}
{#                                });#}
{#                            });#}
{#                        </script>#}
{#                        <script type="text/javascript" src="js/jquery.flexisel.js"></script>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="clearfix"></div>#}
{#                <!--body wrapper end-->#}
{#                <!-- /w3l-agile -->#}
{#            </div>#}
{#            <!--body wrapper end-->#}
{#            <div class="footer">#}
{#                <div class="footer-grid">#}
{#                    <h3>Navigation</h3>#}
{#                    <ul class="list1">#}
{#                        <li><a href="index.html">Home</a></li>#}
{#                        <li><a href="radio.html">All Songs</a></li>#}
{#                        <li><a href="browse.html">Albums</a></li>#}
{#                        <li><a href="radio.html">New Collections</a></li>#}
{#                        <li><a href="blog.html">Blog</a></li>#}
{#                        <li><a href="contact.html">Contact</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="footer-grid">#}
{#                    <h3>Our Account</h3>#}
{#                    <ul class="list1">#}
{#                        <li><a href="#" data-toggle="modal" data-target="#myModal5">Your Account</a></li>#}
{#                        <li><a href="#">Personal information</a></li>#}
{#                        <li><a href="#">Addresses</a></li>#}
{#                        <li><a href="#">Discount</a></li>#}
{#                        <li><a href="#">Orders history</a></li>#}
{#                        <li><a href="#">Addresses</a></li>#}
{#                        <li><a href="#">Search Terms</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="footer-grid">#}
{#                    <h3>Our Support</h3>#}
{#                    <ul class="list1">#}
{#                        <li><a href="contact.html">Site Map</a></li>#}
{#                        <li><a href="#">Search Terms</a></li>#}
{#                        <li><a href="#">Advanced Search</a></li>#}
{#                        <li><a href="#">Mobile</a></li>#}
{#                        <li><a href="contact.html">Contact Us</a></li>#}
{#                        <li><a href="#">Mobile</a></li>#}
{#                        <li><a href="#">Addresses</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="footer-grid">#}
{#                    <h3>Newsletter</h3>#}
{#                    <p class="footer_desc">Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea#}
{#                        commodo consequat</p>#}
{#                    <div class="search_footer">#}
{#                        <form>#}
{#                            <input type="text" placeholder="Email...." required="">#}
{#                            <input type="submit" value="Submit">#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="footer-grid footer-grid_last">#}
{#                    <h3>About Us</h3>#}
{#                    <p class="footer_desc">Diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat#}
{#                        volutpat enim ad minim veniam,.</p>#}
{#                    <p class="f_text">Phone: &nbsp;&nbsp;&nbsp;00-250-2131</p>#}
{#                    <p class="email">Email : &nbsp;<span><a#}
{#                            href="mailto:mail@example.com">info(at)mailing.com</a></span></p>#}
{#                </div>#}
{#                <div class="clearfix"></div>#}
{#            </div>#}
{##}
{#    </div>#}
{##}
{#    </section>#}
{##}
{##}






    </div>
{% endblock %}