{% extends "base_site/base_site.html" %}
{% block title %}{{ block.super }} | beliefs and core values{% endblock %}
{% block banner %}{% endblock %}


{% block content %}
    <div class="container">
        <div class="b_heading">
            <h3><i class="fa fa-book"></i>OUR BELIEFS</h3>
        </div>
        <div class="b_values">
            <div class="row">
                <div class="col-lg-6">
                    <h3>1. THE BIBLE</h3>
                    <p>
                        We believe in the divine inspiration and authority of the Holy Scriptures.
                        We believe that the Bible is infallible in its declaration, final in its authority,
                        all-sufficient in its provisions and comprehensive in its sufficiency (2Timothy 3:16; 2 Peter 1:21).
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>2. THE ONE TRUE GOD</h3>
                    <p>
                        We believe in the existence of the One True God, Elohim, Maker of the whole universe; indefinable,
                        but revealed as Triune Godhead— Father, Son and Holy Spirit-One in nature, essence and attributes,
                        Omniscient, Omnipotent and Omnipresent (Genesis 1:1; Mathew 3:16-17; 28:19; 2 Corinthians 13:14)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3>3. MANS DEPRAVED NATURE</h3>
                    <p>
                        We believe that all men have sinned and come short of the glory of God, and are subject to
                        eternal punishment; and need repentance and regeneration (Genesis 3:1-19); Isaiah 53:6)
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>4. THE SAVIOR</h3>
                    <p>
                        We believe that man’s need of a Saviour has been met in the person of Jesus Christ,
                        because of His deity, virgin birth, sinless life, atoning death, resurrection and ascension,
                        His abiding and Second Coming to judge the living and the dead
                        (Mathew 1:2; John 4:42; Philippians 2:6-11).
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3>5. REPENTANCE, REGENERATION, JUSTIFICATION AND SANCTIFICATION:</h3>
                    <p>
                        We believe that all men have to repent of and confess their sins before God, and believe
                        in the vicarious death of Jesus Christ to be justified before God. We believe in the sanctification
                        of the believer through the working of the Holy Spirit and in God’s gift of eternal life to the
                        believer (Luke 15:7, Acts 2: 38, Romans 4:25, 5:16, 1 Corinthians 1:30, 1 Thessalonians 4: 3).
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>6. THE SACRAMENTS OF BAPTISM AND THE LORD’S SUPPER:</h3>
                    <p>
                        We believe in the Sacrament of Baptism by immersion as a testimony of a convert who has
                        attained a responsible age of about 15 years. (Infants and children are not baptized but are
                        dedicated to the Lord). We believe in the participation in the Sacrament by members who are in
                        full fellowship (Mathew 28:19-20; Mark 16:16; Luke 22:19-20)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3>7. BAPTISM, GIFTS AND FRUIT OF THE HOLY SPIRIT:</h3>
                    <p>
                        We believe in the baptism of the Holy Spirit for believers with signs following; also in the
                        operation of the gifts and the fruit of the Holy Spirit in the lives of believers
                        (Mark 16:17; Acts 2:4;1 Corinthians 12:8-11; Galatians 5:22-23).
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>8. DIVINE HEALING</h3>
                    <p>
                        We believe that the healing of sickness and disease is provided for God’s people in the atonement.
                        The Church is, however, not opposed to soliciting the help of qualified medical practitioners
                        (2 Kings 20:7; Mathew 9:12; Luke 10:34; Colossians 4:14)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3>9. TITHES AND OFFERING:</h3>
                    <p>
                        We believe in tithing and in the giving of free-will offerings towards the cause of carrying
                        forward the Kingdom of God. We believe that God blesses a cheerful giver
                        (Genesis 14:18-20; 28:20-22; Malachi 3:6-10; Mathew 23:23; Acts 20:35; 1 Corinthians 16:1-3;
                        2 Corinthians 9:1-9).
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>10. THE SECOND COMING AND THE NEXT LIFE</h3>
                    <p>
                        We believe in the Second Coming of Christ and the Resurrection of the dead, both the saved and
                        the unsaved - they that are saved, to the resurrection of life; and the unsaved, to the
                        resurrection of damnation (Mark 13: 26; Daniel 12:2; John 5: 28-29; Acts 1:11; 10:42;
                        Romans 2:7-11; 6:23).
                    </p>
                </div>
            </div>

        </div>

        <div class="b_heading">
            <h3><i class="fa fa-book"></i>CORE VALUES</h3>
        </div>

        <div class="b_values">
            <div class="row">
                <div class="col-lg-6">
                    <h3>1. EVANGELISM</h3>
                    <p>
                        It is the presentation of Jesus Christ in the power of the Holy Spirit with the view that
                        people will come and trust Jesus as Saviour and Lord and serve him in the fellowship of the Church.
                        Evangelism is the responsibility of every Church member. It is the prime duty of every believer to
                        share his/her faith after conversion.
                    </p>
                    <p>
                        The scope of evangelism was initially Ghana, extending to Africa and to the whole world.
                        Evangelism is missions-oriented; farmers, women, artisans, fishermen, intellectuals, etc.
                        go out into other countries, preach Christ, open churches and call in ministers to pastor same.
                        Besides, as was the practice of the founder, Pastor James McKeown, we respond to calls to
                        missions as led by the Spirit of the Lord.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>2. DISCIPLESHIP</h3>
                    <p>
                        Discipleship is training believers to be like Christ. The emphasis is on holiness,
                        righteousness, faithfulness, honesty, sincerity, humility, prayerfulness and the
                        leading of disciplined and responsible lives.
                    </p>
                    <p>
                        This is done at the level of individuals, where every member takes responsibility to
                        discipline their new coverts, as well as through church/corporate based systematic
                        teaching, and on-the-job training.
                    </p>
                    <p>
                        Teaching emphasizes the four-square gospel, which is Christ-centered: i.e. Jesus the
                        Saviour, Healer, Baptizer and Soon Coming King; the Tenets of the Church; Bible reading/study
                        and scripture memorization and application of the word to life situations.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3>3. MINISTRY EXCELLENCE</h3>
                    <p>
                        We seek to honour God who gave His best (the Saviour) by maintaining a high standard of
                        excellence in all our ministries and activities (Col. 3:23-24).
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>4. CORE PRACTICES</h3>
                    <p>
                        Some of the normal practices are regular prayer for the Holy Spirit baptism with initial
                        evidence of speaking in tongues. Emphasis is placed on the fruit and gifts of the Spirit
                        in the life of the believer.
                    </p>
                    <p>
                        Prayers are said for healing and deliverance for the afflicted as part of the initial
                        exercises for salvation. Services are marked as truly Pentecostal with praise and worship,
                        teaching, exercise of gifts, prayer, testimony, etc.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3>5. THE HOLY SPIRIT</h3>
                    <p>
                        We believe in the presence of the person of the Holy Spirit and that the Christian life
                        can be led only with His grace. The new birth is the work of the Holy Spirit, and then the
                        baptism of the Holy Spirit for power to serve and the gifts of the Spirit for building the
                        body of Christ.
                    </p>
                    <p>
                        The Holy Spirit helps the individual to develop a Christ-like character,
                        manifest through bearing the fruit of the Spirit.
                    </p>
                    <p>
                        The leading of the Holy Spirit in all spheres of activity in the Church is paramount.
                        Administrative structures and all other church distinctiveness have been by the leading of the
                        Holy Spirit. The Church, through her leadership at all levels, co-operates in obedience.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>6. LEADERSHIP</h3>
                    <p>
                        Leadership development is based on the apostolic foundation. Appointments and callings into
                        leadership positions are based on character and charisma, and the leading of the Holy Spirit.
                        Leadership development is from the shop floor, grass root level with members maturing to lead
                        sub-groups, movements, assemblies, districts and areas. Team spirit with talent development
                        shapes team work. Ministry is by both clergy and laity.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3>7. TITHES / OFFERINGS</h3>
                    <p>
                        Faithfulness in giving offerings and paying tithes to enhance ministry of the Church is
                        emphasized. Periodic teaching on this subject is regarded as very important.
                    </p>
                    <p>
                        The Church and members depend solely on God as the source of financial supply.
                        Borrowing is not encouraged. Usury amongst members is also not encouraged.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>8. SOCIAL ACTIVITIES</h3>
                    <p>
                        The Church believes in communal living with members supporting one another, and participating
                        in communal work. The Church may also help the entire community by providing social needs such
                        as health services, schools, agriculture as well as donating to the needy in society.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3>9. HOLINESS OF MEMBERS AND OFFICERS</h3>
                    <p>
                        The church upholds holiness of members Unto the Lord in all their endeavours (Rom. 12:1; Heb. 12:14)
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>10. CONSISTENT BIBLE TEACHING</h3>
                    <p> (Acts 2:42a).</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3>11. PRAYER OF ALL TYPES</h3>
                    <p>
                         e.g. Worship (Adoration); Supplication; Intercession (Eph. 6:18-19; 1 Tim. 2:1-2).
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>12. CHURCH DISCIPLINE:</h3>
                    <p>(2Tim. 3:16-17; Heb. 12:7-11)</p>
                    <p>a. Respect for and obedience to authority.</p>
                    <p>b. Submission to corrective measures/policies of the Church.</p>
                    <p>c. Regular fellowship of saints – (Acts 2:42-47; Heb. 10:25)</p>
                </div>
                <div class="col-lg-12">
                    <h3>13. CHURCH CULTURE</h3>
                    <p>The following distinctive attributes help identify The Church of Pentecost:</p>
                    <p>a. Self-supporting attitude</p>
                    <p>b. Faithfulness and integrity</p>
                    <p>c. Distinctiveness in prayer</p>
                    <p>d. Church discipline without fear or favour irrespective of position, race or colour of members.</p>
                    <p>e. Place of worship based on Spirit and Truth and not necessarily on the Temple</p>
                    <p>f. Fellowship and liberality.</p>
                    <p>g. Respect for authority.</p>
                    <p>i. Mutual respect and sense of belonging for all members without discrimination based on tribalism, racism or nationality.</p>
                    <p>j. Sacrificial service to the Church without expecting pecuniary reward</p>
                    <p>k. Total abstinence from alcohol, tobacco and other hard drugs.</p>
                    <p>m. Encourage church planting.</p>
                    <p>n. Monogamous marriage is enforced as well as chastity before marriage.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


