{% extends "base_site/base_site.html" %}
{% block title %}{{ block.super }} | tarkwa area{% endblock %}
{% block staticbanner %}{% endblock %}
{% load static %}

{% block content %}

    <div class="outer-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="areaHead">
                        <div class="areaHeadHeader">
                            <h2>Area Head's Speech</h2>
                        </div>
                        <div class="areaHeadContent">
                            <div class="areaHeadText">
                                <h3>Heading Heading</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                </p>
                            </div>
                             <div class="areaHeadImage">
                                <img src="{% static 'index/img/1.jpg' %}" alt="" class="img-thumbnail img-responsive">
                             </div>
                            <div class="clearFx"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="areaHead">
                        <div class="areaHeadHeader">
                            <h2>Testimonies</h2>
                        </div>
                        <div class="areaHeadContent">
                            <div class="areaHeadText">
                                <h3>Heading Heading</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                </p>
                            </div>
                             <div class="areaHeadImage">
                                <img src="{% static 'index/img/1.jpg' %}" alt="" class="img-thumbnail img-responsive">
                             </div>
                            <div class="clearFx"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="areaHead">
                        <div class="areaHeadHeader">
                            <h2>Church News</h2>
                        </div>
                        <div class="areaHeadContent">
                            <div class="areaHeadText">
                                <h3>Heading Heading</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                </p>
                            </div>
                             <div class="areaHeadImage">
                                <img src="{% static 'index/img/1.jpg' %}" alt="" class="img-thumbnail img-responsive">
                             </div>
                            <div class="clearFx"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-8">
                    <div class="areaHead">
                        <div class="areaHeadHeader">
                            <h2>DAILY GRACE INSPIRATIONS</h2>
                        </div>
                        <div class="areaHeadContent">
                            <div class="areaHeadText">
                                <h3>Heading Heading</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                </p>
                            </div>
                             <div class="areaHeadImage">
                                <img src="{% static 'index/img/1.jpg' %}" alt="" class="img-thumbnail img-responsive">
                             </div>
                            <div class="clearFx"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="areaHead">
                        <div class="areaHeadHeader">
                            <h2>Top Stories</h2>
                        </div>
                        <div class="areaHeadContent">
                            <div class="areaHeadText">
                                <h3>Heading Heading</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                </p>
                            </div>
                             <div class="areaHeadImage">
                                <img src="{% static 'index/img/1.jpg' %}" alt="" class="img-thumbnail img-responsive">
                             </div>
                            <div class="clearFx"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="areaHead">
                        <div class="areaHeadHeader">
                            <h2>Articles</h2>
                        </div>
                        <div class="areaHeadContent">
                            <div class="areaHeadText">
                                <h3>Heading Heading</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                </p>
                            </div>
                             <div class="areaHeadImage">
                                <img src="{% static 'index/img/1.jpg' %}" alt="" class="img-thumbnail img-responsive">
                             </div>
                            <div class="clearFx"></div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="areaHead">
                        <div class="areaHeadHeader">
                            <h2>News Archive</h2>
                        </div>
                        <div class="areaHeadContent">
                            <div class="areaHeadText">
                                <h3>Heading Heading</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                </p>
                            </div>
                             <div class="areaHeadImage">
                                <img src="{% static 'index/img/1.jpg' %}" alt="" class="img-thumbnail img-responsive">
                             </div>
                            <div class="clearFx"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="areaHead">
                        <div class="areaHeadHeader">
                            <h2>Videos</h2>
                        </div>
                        <div class="areaHeadContent">
                            <div class="areaHeadText">
                                <h3>Heading Heading</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                </p>
                            </div>
                             <div class="areaHeadImage">
                                <img src="{% static 'index/img/1.jpg' %}" alt="" class="img-thumbnail img-responsive">
                             </div>
                            <div class="clearFx"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="areaHead">
                        <div class="areaHeadHeader">
                            <h2>Home Cell</h2>
                        </div>
                        <div class="areaHeadContent">
                            <div class="areaHeadText">
                                <h3>Heading Heading</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                </p>
                            </div>
                             <div class="areaHeadImage">
                                <img src="{% static 'index/img/1.jpg' %}" alt="" class="img-thumbnail img-responsive">
                             </div>
                            <div class="clearFx"></div>
                        </div>
                    </div>
                </div>
            </div>


             <div class="row">
                <div class="col-lg-12">
                    <div class="areaHead">
                        <div class="areaHeadHeader">
                            <h2>Gallery</h2>
                        </div>
                        <div class="areaHeadContent">
                            <div class="areaHeadText">
                                <h3>Heading Heading</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                </p>
                            </div>
                             <div class="areaHeadImage">
                                <img src="{% static 'index/img/1.jpg' %}" alt="" class="img-thumbnail img-responsive">
                             </div>
                            <div class="clearFx"></div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

{% endblock %}
