#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame {
    width:100%;
    margin:0;
}
#slider, #slider .sliderInner {
    width:100%;
    height:450px;
    border-radius:3px;
}
#slider {
    background-color:white;
    position:relative;
    margin:0 auto;
    transform: translate3d(0,0,0);
    box-shadow: 0 1px 5px #999999;
}
#slider a.imgLink, #slider .video {
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    border:0;
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}
#slider .mc-caption {
    position:absolute;
    width:100%;
    height:auto;
    padding:20px 0;
    left:0;
    bottom:0;
    top:auto;
    overflow:hidden;
    font: bold 14px/20px Arial;
    color:#EEE;
    text-align:center;
    background:rgba(0,0,0,0.3);
}
#slider .mc-caption a {
    color:#FB0;
}
#slider .mc-caption a:hover {
    color:#DA0;
}
#slider .navBulletsWrapper  {
    top:459px;
    text-align:center;
    background:none;
    position:relative;
    z-index:3;
}
#slider .navBulletsWrapper div {
    width:11px;
    height:11px;
    font-size:0;
    color:White;
    background:transparent url("bullet.117c0297bac6.png") no-repeat 0 0;
    display:inline-block;
    *display:inline;
    zoom:1;
    overflow:hidden;
    cursor:pointer;
    margin:0 6px;
}
#slider .navBulletsWrapper .active {
    background-position:0 -11px;
}
#slider img, #slider>b, #slider a>b {
    position:absolute;
    border:none;
    display:none;
}
#slider .sliderInner {
    overflow:hidden;
    position:absolute;
    top:0; left:0;
}
#slider>a, #slider video, #slider audio {
    display:none;
}
#slider div {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.header-img-wrapper{
    width: 100%;
    height: 100px;
}
.header-img-wrapper img{
    height: 100px;
    width: 100%;
}
.dropdown-menu li a{
    line-height: 32px;
}
.dropdown-menu i{
    margin-right: 5px;
    font-size: 18px;
}
.outer-wrapper{
    padding-top: 30px;
    height: 3000px;
    width: 100%;
}
.static_banner{
    width: 100%;
    height: 350px;
    background-image: url("../img/b.963071cc504c.png");
}
.static_banner_blur{
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.4);
}
.static_banner_blur h1{
    padding: 0;
    color: #eee;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-family: "Times New Roman", sans-serif;
}
.b_heading{
    width: 100%;
    height: 50px;
    margin: 50px 0;
}
.b_heading h3{
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-family: "Times New Roman" ,sans-serif;
}
.b_heading .fa{
    margin-right: 10px;
}
.b_values h3{
    font-size: 21px;
    color: #122b40;
    font-family: "Century Schoolbook", sans-serif;
}
.b_values p{
    font-size: 18px;
    font-family: "Century Schoolbook", sans-serif;
}
.theme{
    width: 100%;
    height: 50px;
    margin: 50px 0;
    text-align: center;
}
.theme h2{
    font-family: "Century Schoolbook", sans-serif;
    font-size: 30px;
}
.theme h2 span{
    color: #DDAA00;
    font-style: italic;
}
.theme_value h4{
    font-family: "Century Schoolbook", sans-serif;
    font-size: 21px;
}
.theme_value p{
    font-size: 18px;
    font-family: "Century Schoolbook", sans-serif;
}
.theme_value h3{
    font-size: 21px;
    text-align: center;
    font-family: "Century Schoolbook", sans-serif;
}
.theme_value h5{
    font-size: 16px;
    margin-top: 25px;
    font-family: "Century Schoolbook", sans-serif;
}
.theme_value h6{
    margin-top: 25px;
    font-size: 14px;
    font-family: "Century Schoolbook", sans-serif;
}
.areaHead{
    width: 100%;
    height: 400px;
    box-shadow: 0 0 1px #888888;
}
.areaHeadHeader{
    text-align: left;
    width: 100%;
    height: 50px;
    background-color: #3152A5;
}
.areaHeadHeader h2{
    color: #000;
    font-family: "Century Schoolbook", sans-serif;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 10px;
}
.areaHeadContent{
    width: 100%;
    height: auto;
    padding: 8px;
}
.areaHeadImage{
    float: right;
    width: 40%;
    height: 100px;
}
.areaHeadText{
    float: left;
    width: 60%;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.areaHeadText h3{
    color: #000;
    font-family: "Century Schoolbook", sans-serif;
    font-size: 22px;
}
.areaHeadText p{
    color: #000;
    font-family: "Century Schoolbook", sans-serif;
    font-size: 17px;
}
.clearFx{
    clear: both;
}
































.cont{
    width: 100%;
    height: 900px;
}
