{% extends "base_site/base_site.html" %}
{% block title %}{{ block.super }} | area{% endblock %}
{% block banner %}{% endblock %}

{% block content %}

  <div class="container">
    <div class="b_heading">
        <h3><i class="fa fa-home"></i>AREA</h3>
    </div>

    <div class="b_values">
        <div class="row">
            <div class="col-lg-4">
                pic of area
            </div>
            <div class="col-lg-8">
                <p>
                   This is the third administrative rung, following the General Council and the Executive
                   Council. It is headed by an apostle, a prophet, an evangelist or a senior pastor.
                   He is assisted by a six-member Executive Committee in the day-to-day running of
                   the Area through the Area Presbytery.
                </p>
                <p>
                    The Area Presbytery is the coordinating and highest policy-making body in the Area
                    to which the Area Executive Committee shall be responsible.
                </p>
                <p>
                    It is chaired by the Area Head and comprises the Area Executive Committee members,
                    all Area Ministry leaders, their assistants and Chairmen of Area Committees,
                    all District Executive Committee members, two Deacons’ representatives from
                    each District/Worship Centre, three Deaconesses’ representatives from each District,
                    all other serving ministers in the Area and all ministers’ wives in the Area.
                </p>
            </div>
        </div>
    </div>

    <!-- DISTRICT-->
  <div class="b_heading">
        <h3><i class="fa fa-home"></i>DISTRICT</h3>
    </div>

    <div class="b_values">
        <div class="row">
            <div class="col-lg-4">
                pic of district
            </div>
            <div class="col-lg-8">
                <p>
                   This is a further division of the Area which is headed by a Pastor or an Overseer.
                    The District Pastor/Overseer administers the district with the assistance of a six-member
                    District Executive Committee. The highest decision-making body is the District Presbytery.
                </p>
                <p>
                    The District Presbytery, which is the highest policy-making body in the District,
                    decides on all matters affecting the growth, development and welfare of the Local congregations.
                    It also receives and approves reports submitted by the various organs of the Church in the District.
                    It consists of the minister, his wife, Elders, Deacons and Deaconesses in the District.
                </p>
            </div>
        </div>
    </div>

    <!-- LOCAL CONGREGATION-->
      <div class="b_heading">
        <h3><i class="fa fa-home"></i>LOCAL CONGREGATION</h3>
      </div>

  <div class="b_values">
        <div class="row">
            <div class="col-lg-4">
                pic of congregation
            </div>
            <div class="col-lg-8">
                <p>
                    This is a further division of the district and forms the base of the five-tier
                    administrative structure of the Church. The local congregation is headed by a Presiding
                    Elder who acts for the district pastor and sees to the implementation of decisions taken by
                    the District Pastor, with the aid of all the Elders, Deacons, Deaconesses, Committees and
                    Ministry leaders in the congregation.
                </p>
                <p>
                    This well-coordinated chain of command ensures both vertical and horizontal flow of information
                    in the Church, thereby making implementation of policies and feedback very vital ingredients for
                    effective administration.
                </p>
            </div>
        </div>
    </div>
  </div>

{% endblock %}